@font-face {
  font-family: Stardew_Valley;
  src: url(/fonts/Stardew_Valley.ttf);
}
* {
  box-sizing: border-box;
  cursor: url(/images/stardew-cursor.png), auto;
  margin: 0;
  padding: 0;
}

html, body {
  background: url(/images/stardew-background.webp) center center;
  background-size: cover;
  font-family: Stardew_Valley;
  height: 100%;
  margin: 0;
}

header {
  height: 4rem;
}

h1 {
  color: white;
  display: inline;
  font-size: 90px;
  margin: 0;
  text-shadow: 0px 0px 5px black;
}

#muted {
  width: 4rem;
  left: 1rem;
  position: absolute;
  top: 1rem;
}

#muted:hover {
  cursor: url(/images/stardew-hand.png), auto;
  transform: scale(1.1);
}

#help {
  width: 4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#help:hover {
  cursor: url(/images/stardew-hand.png), auto;
  transform: scale(1.1);
}

.title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  padding: 0 9rem;
}

.title > div {
  display: flex;
  align-items: center;
}

.stardew-logo {
  height: 7rem;
  margin: 0 1rem;
}

#date-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

#date-input > input {
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  height: 4rem;
  outline: none;
}

#date-input > div {
  border: none;
  color: white;
  font-size: 7rem;
  padding: 0 1.25rem;
}

#date-input > div:hover {
  cursor: url(/images/stardew-hand.png), auto;
  transform: scale(1.1);
}

.character-items {
  align-items: center;
  column-gap: 50px;
  display: grid;
  grid: repeat(2,1fr) / repeat(6,1fr);
  justify-items: center;
  margin: 2rem 4rem 4rem 4rem;
  row-gap: 50px;
}

.character {
  height: auto;
  width: 100%;
}

.character:hover {
  cursor: url(/images/stardew-hand.png), auto;
  transform: scale(1.1);
}



